@page "/personas/crear"

<h3>Crear persona</h3>

<FormularioPersona OnValidSubmit="Crear" Persona="Persona"></FormularioPersona>

@code {
  private Persona Persona = new Persona();

  private void Crear()
  {
    Console.WriteLine("Crear persona");
  }
}
