@page "/"
@inject IRepositorio repositorio

<div>
  <ListadoPeliculas Peliculas="Peliculas" />
</div>
<hr />
<button @onclick="AgregarPelicula">Añadir película</button>

@code {
  private List<Pelicula> Peliculas;

  protected override void OnInitialized()
  {
    Peliculas = repositorio.ObtenerPeliculas();
  }

  void AgregarPelicula()
  {
    Peliculas.Add(new Pelicula() { Titulo = "Nueva película", Lanzamiento = DateTime.Today });
  }
}
